.memorial {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
}

.plateContainer {
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center center;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
}

@media (pointer: fine) {
  .plateContainer:hover {
    transform: translateX(-50%) rotate(-6deg) translateX(-6px);
  }
}

.plateContainer.clicked {
  transform: translateX(-150%) rotate(-6deg);
  top: -16px;
}

.plateContainer:not(.clicked) {
  transition: all 0.4s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.text {
  color: var(--grey3);
  font-size: 13px;
  text-align: center;
  line-height: 1.4;
}

.link {
  color: var(--grey1);
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.hiddenText {
  color: var(--grey3);
  font-size: 13px;
  text-align: center;
}
